/* For theme change mode */
// Light mode
$primary-color: #21b6b7;
$text-color: #124a63;
$text-color-secondary: #b3c5cd;
$text-color-third: black;
$background-color: #f9f9f9;
$background-color-light: #eef3f6;
$background-color-white: white;

// Dark mode
$text-color-dark-mode: #f0f0f0;
$text-color-secondary-dark-mode: #b3c5cd;
$text-color-third-dark-mode: white;
$background-color-dark-mode: #252329;
$background-color-light-dark-mode: #120f13;
$background-color-white-dark-mode: #3c393f;
