/* For theme change mode */
html,
body {
  color: #000;
  background-color: #fff;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: #000;
}

:root {
  --text-color: #124a63;
  --text-color-secondary: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: white;
}

[data-theme="dark"] {
  --text-color: #f0f0f0;
  --text-color-secondary: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #252329;
  --background-color-dark: #3c393f;
  --background-color-light: #120f13;
}
